.header-style {
  position: fixed;
  width: 100%;
}

.logo {
  font-size: 25px;
  font-family: "lato", sans-serif;
  position: fixed;
  color: #ebebeb;
}

.mobile-logo {
  position: fixed;
  color: #ebebeb;
  font-size: 15px;
}

.mobile-menu-button {
  margin-top: 18px;
  float: right;
}

#top-menu {
  line-height: 64px;
  float: right;
}

#mobile-menu {
  background: #001529;
}
